<h1>Oni</h1>

<form method="POST" action="/login">
  <fieldset>
    <legend>Please log in</legend>
    <div class="form-group">
      <label for="user_email">Email</label>
      <input type="email" id="user_email" name="user[email]">
    </div>
    <div class="form-group">
      <label for="user_password">Email</label>
      <input type="password" id="user_password" name="user[password]">
    </div>
    <div class="form-group">
      <input type="submit" value="Log in">
    </div>
  </fieldset>
</form>
